* {
	padding: 0;
	margin: 0;
}

ol,
ul,
li {
	list-style-type: none;
}
/*主体部分*/

#content {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.content-wrap {
	position: relative;
}

.content-wrap > li {
	background: #CAE1FF;
	color: red;
	float: left;
	overflow: hidden;
	position: relative;
}

/*男孩*/
.charector {
	position: absolute;
	left: 0%;
	top:55%;
	width: 151px;
	height: 291px;
	background: url(../resource/images/boy.png) -0px -291px no-repeat;
}

/*人物暂停*/
.pauseWalk {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
}

.boyOriginal {
	background-position: -150px -0px;
}

.slowWalk {
	-webkit-animation-name: preson-slow;
	-webkit-animation-duration: 950ms; /*每次循环时间*/
	-webkit-animation-iteration-count: infinite; /*无限循环播放*/
	-webkit-animation-timing-function: steps(1, start); /*规定动画的运动曲线*/
}

.slowFlowerWalk {
	-webkit-animation-name: preson-floler-slow;
	-webkit-animation-duration: 950ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
}

/*普通慢走*/
@-webkit-keyframes preson-slow {
	0% {
		background-position: -0px -291px;
	}
	25% {
		background-position: -602px -0px;
	}
	50% {
		background-position: -302px -291px;
	}
	75% {
		background-position: -151px -291px;
	}
	100% {
		background-position: -0px -291px;
	}
}

/*带花走*/
@-webkit-keyframes preson-floler-slow {
	0% {
		background-position: -453px -0px;
	}
	25% {
		background-position: -904px -0px;
	}
	50% {
		background-position: -451px -0px;
	}
	75% {
		background-position: -753px -0px;
	}
	100% {
		background-position: -300px -0px;
	}
}



.boxShow{
	width: 100%;
	height: 150px;
	position: relative;
}
/*小鸟*/
.bird{
	min-width: 91px;
	min-height: 71px;
	top:5%;
	position: absolute;
	right:0;
	background: url(../resource/images/bird.png) -182px 0px no-repeat;
}
/*小鸟飞*/
.birdFly {
	animation-name: bird-fly;
	animation-duration: 400ms;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;

	-webkit-animation-name: bird-fly;
	-webkit-animation-duration: 400ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
}
/**/
@keyframes bird-fly {
	0% {
		background-position: -182px 0px;
	}
	50% {
		background-position: 0px 0px;
	}
	75% {
		background-position: -91px 0px;
	}
	100% {
		background-position: -182px 0px;
	}	
}
@-webkit-keyframes bird-fly {
	0% {
		background-position: -182px 0px;
	}
	50% {
		background-position: 0px 0px;
	}
	75% {
		background-position: -91px 0px;
	}
	100% {
		background-position: -182px 0px;
	}	
}